mosquitto/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "MQTT",
        "disabled": false,
        "info": ""
    },
    {
        "id": "94559b8efca363f9",
        "type": "mqtt-broker",
        "name": "",
        "broker": "host.docker.internal",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8c5408abddc2638e",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "#",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "94559b8efca363f9",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 110,
        "y": 100,
        "wires": [
            [
                "ab41142146d9e105"
            ]
        ]
    },
    {
        "id": "ab41142146d9e105",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 260,
        "y": 100,
        "wires": []
    },
    {
        "id": "ef35acd70e402f6a",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "Hello, World!",
        "payloadType": "str",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "3d6da51fe32c43a2"
            ]
        ]
    },
    {
        "id": "3d6da51fe32c43a2",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "hello",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "94559b8efca363f9",
        "x": 310,
        "y": 240,
        "wires": []
    },
    {
        "id": "8f97c420bf726a91",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Subscriber",
        "info": "",
        "x": 120,
        "y": 60,
        "wires": []
    },
    {
        "id": "011b96bc491c0786",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "Publisher",
        "info": "",
        "x": 120,
        "y": 200,
        "wires": []
    }
]
